<nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost/coinwatch/public/"><img src="http://localhost/coinwatch/public/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost/coinwatch/public/">Cryptocurrencies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost/coinwatch/public/exchanges">Exchanges</a>
      </li>                     
    </ul>
     {{ include("inc/search.html.twig") }}  
  </div>
</nav>
</nav>