<div class="search-content">    
    <div class="search-bar">
        <input type="search" class="form-control" placeholder="Search..." name="searchBar">
    </div>

    <div class="search-results">
        <div class="search-label" id="coins-search-header"></div>
            <div id="coins-results"></div>
        <div class="search-label" id="exchanges-search-header"></div>
            <div id="exchanges-results"></div>
    </div>
</div>    

